<mat-toolbar color="primary">
  <span>Smart School</span>
  <span fxFlex></span>
  <button mat-icon-button aria-label="dashboard" matTooltip="Dashboard" routerLink="/dashboard" >
    <mat-icon>dashboard</mat-icon>
  </button>
  <button mat-icon-button aria-label="alunos" matTooltip="Alunos" routerLink="/alunos">
    <mat-icon>face</mat-icon>
  </button>
  <button mat-icon-button aria-label="professores" matTooltip="Professores" routerLink="/professores">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button aria-label="perfil" matTooltip="Perfil" routerLink="/perfil">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>
