<mat-toolbar color="primary">
  <span>Smart School</span>
  <span fxFlex></span>
  <button mat-icon-button  aria-label="dashboard" matTooltip="Dashboard" routerLink="/dashboard" >
    <mat-icon>dashboard</mat-icon>
  </button>
  <button mat-icon-button aria-label="alunos" matTooltip="Alunos" routerLink="/alunos">
    <mat-icon>face</mat-icon>
  </button>
  <button mat-icon-button aria-label="professores" matTooltip="Professores" routerLink="/professores">
    <mat-icon>person</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="menu">Júlio César </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/perfil">Perfil</button>
  <button mat-menu-item>Sair</button>
</mat-menu>



</mat-toolbar>
